<form encType="multipart/form-data"
  data-dojo-attach-point="containerNode"
  data-dojo-attach-event="onsubmit:_onSubmit">

  <h2>Login</h2>

  <label for="register_user_name">Name</label>
  <input  name="name"
         required="true"
         data-dojo-type="dijit/form/ValidationTextBox"
         id="login_name"
  >
  </input>

  <label for="register_user_email">Password</label>
  <input  name="password"
         required="true"
         data-dojo-type="dijit/form/ValidationTextBox"
         type="password"
         id="login_password"
  >
  </input>

  <button data-dojo-type="dijit/form/Button" type="submit">login</button>
</form>
