<form encType="multipart/form-data"
  data-dojo-attach-point="containerNode"
  data-dojo-attach-event="onsubmit:_onSubmit"
  >
  <h2>Register</h2>
  <label for="register_user_name">Name</label>
  <input  name="name"
          required="true"
          data-dojo-type="dijit/form/ValidationTextBox"
          id="register_user_name"
  >
  </input>

  <label for="register_user_password">Password</label>
  <input  name="password"
          required="true"
          type="password"
          data-dojo-type="dijit/form/ValidationTextBox"
          id="register_user_password"
  >
  </input>

  <label for="register_user_email">Email</label>
  <input  name="email"
         required="true"
         data-dojo-type="dijit/form/ValidationTextBox"
         id="register_user_email"
  >
  </input>

  <button data-dojo-type="dijit/form/Button" type="submit">register</button>
</form>
